.btns{
    text-align: center;
    background-color: aliceblue;
}

.btnHeader {
    background-color: aliceblue;
    border: none !important;
    padding: 10px 20px; /* Ajusta el valor de padding según el tamaño que desees */
}


.header2{
    text-align: center;
    align-items: center;
    
}

.logo{
    float: left;

}

.btnHeader2{
    background-color: white;
    border: none !important;
    padding: 10px 20px; /* Ajusta el valor de padding según el tamaño que desees */
}

.msmNegro{
    background-color: black;
    color: white;
}