.btns{
    text-align: center;
    background-color: aliceblue;
}

.btnHeader {
    background-color: aliceblue;
    border: none !important;
    padding: 10px 20px; /* Ajusta el valor de padding según el tamaño que desees */
}


.header2{
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    border: none !important;
    padding: 10px 20px; /* Ajusta el valor de padding según el tamaño que desees */
}

.logo{
    float: left;

}